{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>Yearly Budget Report
            <small>showing already existing transactions</small>
        </h1>
    </div>
    <table class="table table-striped">
		<tr>
			<th>Period</th>
			<th>Budget</th>
			<th>Amount</th>
			<th>Balance</th>
		</tr>
        {% for ndx in sales %}
			<tr>
                <td>{{ ndx }}</td>
                <td>{{ sales[ndx][0] }}</td>
                <td>{{ sales[ndx][1] }}</td>
                <td>{{ sales[ndx][0]-sales[ndx][1] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
