{% extends "base.jinja2" %}
{% block content %}
    <div class="page-header">
        <h1>
            {{ account.name }}
        </h1>
    </div>
    <p>Budget: <strong>{{ account.budget }}</strong></p>
    {% if session['email'] in config.ADMINS %}
        <div class="panel panel-default">
            <div class="panel-body">
				<a class="btn btn-info" href="{{ url_for('trans.list_trans', name=account.name) }}" role="button">List
                    Transactions</a>
                <a class="btn btn-primary" href="{{ url_for('trans.create_trans', name=account.name) }}" role="button">New
                    Transaction</a>
                <a class="btn btn-warning" href="{{ url_for('accounts.edit_account', account_id=account._id) }}" role="button">Edit
                    Account</a>
                <a class="btn btn-danger" href="{{ url_for('accounts.delete_account', account_id=account._id) }}" role="button">Permanently
                    Delete Account</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
